// Variables
$primary-color: #605DC8;
$secondary-color: #8B89E6;
$text-color: #333;
$border-radius: 8px;

// Base styles
.container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 80%;
  margin: 20px auto;
}

.form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
  display: block;
  text-align: left;
  margin-top: 16px;
}

input {
  border: solid 1px $primary-color;
  padding: 10px;
  border-radius: $border-radius;
  margin-top: 5px;
  width: 100%;
  box-sizing: border-box;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
    outline: none;
  }
}

.space {
  height: 14px;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.left {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  padding: 10px;
  border: solid 1px $primary-color;
  background: $primary-color;
  color: white;
  border-radius: $border-radius;
  width: 48%;
  cursor: pointer;
}

button:hover {
  background-color: darken($primary-color, 10%);
}

button:disabled {
  background-color: lighten($primary-color, 25%);
  cursor: not-allowed;
}

.invalid {
  border: solid 2px red;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 9pt;
  display: block;
  text-align: left;
  width: 100%;
  color: red;
  margin-top: 0px;
  margin-bottom: 0px;
}

.info {
  color: $primary-color;
  visibility: hidden;
}

.visible {
  visibility: visible;
}

.list-container {
  width: 40%;
}