// Variables
$primary-color: #605DC8;
$secondary-color: #8B89E6;
$text-color: #333;
$border-radius: 8px;
$transition-time: 0.3s;

// Base styles
.client-info {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: 20px;
  background-color: lighten($primary-color, 25%);
}

.main-div, .extra-field {
  display: flex;
  justify-content: center;
}

.buttons-div {
  display: flex;
  justify-content: space-around;
}

.form-group {
  display: flex;
  flex-direction: column;
  width: 210px;
  margin-left: 30px;
  margin-right: 30px;
  text-align: center;
}

label {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12pt;
  margin-top: 30px;
  margin-bottom: 5px;
  text-align: left;
}

select, input {
  border: solid 1px $primary-color;
  padding: 10px;
  border-radius: 8px;
  box-sizing: border-box;

  &:focus {
    border-color: $primary-color;
    box-shadow: 0 0 8px rgba(52, 152, 219, 0.5);
    outline: none;
  }
}

input {
  font-family: Arial, sans-serif;
}

button {
  margin-top: 80px;
  padding: 10px;
  border: solid 1px $primary-color;
  background: $primary-color;
  color: white;
  border-radius: 8px;
  width: 105px;
  cursor: pointer;
}

button:hover {
  background-color: darken($primary-color, 10%);
}

.invalid {
  border: solid 2px red;
}

p {
  font-size: 9pt;
  display: block;
  text-align: left;
  width: 100%;
  color: red;
  margin-bottom: 0px;
}

h2 {
  font-size: x-large;
}