// Variables
$primary-color: #605DC8;
$secondary-color: #8B89E6;
$text-color: #333;
$border-radius: 8px;

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    position: relative;
}

button.closing {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: 30px;

    &:hover {
        background-color: lightgray;
    }
}

button.closing img {
    width: 30px;
    height: 30px;
}

.table-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

table {
    width: 100%;
    border-collapse: separate;
}

th, td {
    padding: 10px;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: $primary-color;
    color: white;
    white-space: nowrap;
}

tr:hover {
    background-color: #f5f5f5;
}

::ng-deep .mat-sort-header-arrow {
    color: white !important;
}

a {
    cursor: pointer;
    text-decoration: underline;

    &:hover {
        color: silver;
        text-decoration: none;
    }
}