// Variables
$primary-color: #605DC8;
$secondary-color: #8B89E6;
$text-color: #333;
$border-radius: 8px;
$transition-time: 0.3s;

// Base styles
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: $text-color;
}

h1, h2 {
  text-align: center;
  margin-bottom: 0px;
}

h1 {
  font-size: 2.5rem;
  color: $primary-color;
}

h2 {
  font-size: 2rem;
  color: $secondary-color;
}