// Variables
$primary-color: #605DC8;
$secondary-color: #8B89E6;
$text-color: #333;
$border-radius: 8px;
$transition-time: 0.3s;

button {
    margin-top: 80px;
    padding: 10px;
    border: solid 1px $primary-color;
    background: $primary-color;
    color: white;
    border-radius: 8px;
    width: 105px;
    cursor: pointer;
}

button:hover {
    background-color: darken($primary-color, 10%);
}